/* hp dlu */
html {
  font-size: 16px;
}

.gallery-main {
  display: block;
  margin-top: 4rem;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  box-sizing: border-box;
}

.gallery-main h1 {
  margin-left: ;
  color: #179523;
  text-align: center;
  font-weight: bold;
}

.hero-container {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  grid-row-gap: 50px;
}

.img-container {
  width: 270px;
  height: 140px;
  background-color: #f3f3f3;
  border-radius: 4%;
  position: relative;
  overflow: hidden;
  margin: 0;
}

.img-container img {
  border-radius: inherit;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: .8s all;
}

.img-container .overlay {
  position: absolute;
  bottom: -80%;
  width: 100%;
  height: 80%;
  background: linear-gradient(to top, rgba(10,10,10,1), rgba(10,10,10,0));
  opacity: 0;
  transition: .8s all;
}

.img-container:hover img {
  transform: scale(1.1);
}

.img-container:hover .overlay {
  opacity: 1;
  bottom: 0;
}

.img-container:hover .info {
  opacity: 1;
  bottom: 0;
}


.info {
  color: #fefefe;
  position: absolute;
  width: 100%;
  bottom: -50%;
  opacity: 0;
  padding-left: 10px;
  transition: .8s all;
}

.img-container .info h6 {
  font-weight: 500;
  text-align: left;
}

.img-container .info p {
  margin-top: 3px;
  margin-bottom: 6px;
  text-align: left;
}




/* ini tab */
@media (min-width: 768px) {
  html {
    font-size: 20px;
  }
  
  .hero-container {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .img-container {
    width: 324px;
    height: 168px;
  }
}

/* ini laptop */
@media (min-width: 1024px) {
  html {
    font-size: 22px;
  }
  
  .hero-container {
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 70px;
  }
  
  .img-container {
    width: 330px;
    height: 185px;
  }
}

/* ini laptop yg large */
@media (min-width: 1440px) {
  html {
    font-size: 28px;
  }
  
  .hero-container {
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 90px;
  }
  
  .img-container {
    width: 400px;
    height: 225px;
  }
}

/* ini desktop */
@media (min-width: 1920px) {
  html {
    font-size: 32px;
  }
  
  .hero-container {
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 110px;
  }
  
  .img-container {
    width: 550px;
    height: 310px;
  }
}

/* ini desktop yg lebih gede */
@media (min-width: 2560px) {
  html {
    font-size: 40px;
  }
  
  .hero-container {
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 130px;
  }
  
  .img-container {
    width: 700px;
    height: 393px;
  }
}

/* ini 3200px keatas */
@media (min-width: 3200px) {
  html {
    font-size: 46px;
  }
  
  .hero-container {
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 150px;
  }
  
  .img-container {
    width: 1000px;
    height: 563px;
  }
}
/* ukuran default h1 sama p */
body h1 {
  font-size: 3rem;
}

body h6 {
  font-size: 1.2rem;
}

 body p {
  font-size: 1rem;
}