html {
  font-size: 16px;
}

header.nav-container {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 4rem;
  z-index: 999;
}

header .nav-jdl {
  font-size: 2rem;
  font-weight: bold;
  color: #5a6c3f;
}

header .navbar {
  font-size: 1.5rem;
  position: absolute;
  right: 1rem;
}

header nav {
  display: none;
  gap: 1.5rem;
  position: absolute;
  right: 1rem;
}

header .nav-link a {
  text-decoration: none;
  color: #15141a;
  transition: .4s all;
}

header .nav-link a{
  font-size: 1.3rem;
  font-weight: 400;
}

header .nav-link a:hover {
  transform: translateY(-3px);
  color: #17de31;
  border-bottom: 1.5px solid #17de31;
}


@media (min-width: 768px) {
  
}

@media (min-width: 1024px) {
  header .navbar {
    display: none;
  }
  
  header nav {
    display: flex;
  }
}

@media (min-width: 1440px) {
  header .navbar {
    display: none;
  }
}

@media (min-width: 1920px) {
  header .navbar {
    display: none;
  }
}

@media (min-width: 2560px) {
  header .navbar {
    display: none;
  }
}

@media (min-width: 3200px) {
  header .navbar {
    display: none;
  }
}

h1 {
  font-size: 3rem;
}

p {
  font-size: 1rem;
}