html {
  font-size: 16px;
}

.nav-container {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 5rem;
  z-index: 999;
}

.jdlnavcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  left: 1rem;
}

.jdlnavcontainer img {
  width: 3rem;
}

.jdlnavcontainer h1 {
  font-size: 1.5rem;
  color: #65A65A;
}

.jdlnavcontainer h1 span {
  color: #2E542E;
}

.fa-bars {
  font-size: 1.5rem;
  position: absolute;
  right: 1rem;
  z-index: 9999;
  top: 50%;
  transform: translateY(-50%);
}

nav {
  position: fixed;
}

nav ul {
  list-style: none;
}

.nav-link a {
  text-decoration: none;
  color: #15141a;
  transition: .4s all;
}

nav a {
  font-size: 1rem;
  font-weight: 400;
}

.nav-link a:hover {
  transform: translateY(-3px);
  color: #a8cba0;
  
}

@media (max-width: 1200px) {
  nav {
    background-color: #fefefe;
    right: 0;
    top: 0;
    bottom: 0;
    width: 20rem;
    z-index: 9999;
    padding: 1.6rem;
    right: -100%;
  }
  
  .ilang {
    right: -100%;
    animation: hilangkekanan 1s forwards;
  }
  
  .muncul {
    animation: munculkekiri 1s forwards;
  }
  
  .navmobjdl {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .fa-xmark {
    font-size: 2rem;
    align-items: center;
  }
  
  .navmobcontainer h1 {
    font-size: 1.8rem;
  }
  
  nav ul li {
    margin-top: .8rem;
  }
  
  nav a {
    align-items: center;
    width: 100%;
    display: flex;
  }
  
  nav a i {
    margin-right: .3rem;
  }
  
  .navgim {
    overflow: hidden;
    white-space: nowrap;
    transition: .6s all;
  }
  
  .min {
    height: 1.3rem;
  }
  
  .max {
    height: 6rem;
  }
  
  .muter {
    transform: rotate(90deg);
  }
  
  #navcepron {
    transition: .6s all;
    right: 2rem;
    position: absolute;
    
  }
  
  .navgim ul li {
    margin-left: 1rem;
  }
  
}


@media (min-width: 768px) {
  html {
    font-size: 20px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 22px;
  }
  
  .navmobjdl {
    display: none;
  }
  
  #pNavGame {
    display: none;
  }
  
  header .fa-bars {
    display: none;
  }
  
  nav ul {
    display: flex;
    gap: 1.5rem;
  }
  
  header nav {
    display: flex;
    position: absolute;
    right: 1rem;
  }
}

@media (min-width: 1440px) {
  html {
    font-size: 26px;
  }
  
  
}

@media (min-width: 1920px) {
  html {
    font-size: 32px;
  }
  
}

@media (min-width: 2560px) {
  html {
    font-size: 40px;
  }
  
}

@media (min-width: 3200px) {
  html {
    font-size: 46px;
  }
  
}

header h1 {
  font-size: 3rem;
}

header p {
  font-size: 1rem;
}


@keyframes munculkekiri {
  from {
    right: -100%;
    opacity: 0;
  } to {
    right: 0;
    opacity: 1;
  }
}

@keyframes hilangkekanan {
  from {
    right: 0;
    opacity: 1;
  } to {
    right: -100%;
    opacity: 0;
  }
}