.hero {
    max-width: 160vh;
    width: 90%;
    height: 70dvh;
    background-image: url('../img/hero.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 50px;
    margin-top: 7vh;
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    place-items: center;
    border: 3px solid black;
  }
  
  .hero-container {
    width: 50vh ;
    border: 10px solid pink;
    grid-column: 2;
    margin: 0px;
    display: grid;
  }
  
  .hero-teks{
    font-size: 4vh;
    color: #114a1f;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
  }
  
  .hero-btn {
    border: none;
    border-radius: 10px;
    background:#114a1f;
    color: white;
    font-size: 20px;
    margin: 20px;
    padding: 10px;
  }