html {
  font-size: 16px;
}


.tips-aksi-container {
  margin-top: 5rem;
}

.tips-aksi-container {
  color: #15141a;
}

.threeR {
  display: grid;
  justify-items: center;
}

.threeR .threeR-cards {
  width: 350px;
  height: 400px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0,0,0,.4);
  border-radius: 3%;
}

.threeR .threeR-card-icon {
  margin-top: 1rem;
  width: 150px;
  height: 150px;
  fill: #179950;
}

.threeR .threeR-cards h1 {
  padding: 0;
}

,.threeR .threeR-cards p {
  color: #aeaeae;
}

.threeR .threeR-cards button {
  width: 8rem;
  height: 2.5rem;
  margin-top: 1rem;
  background-color: #17de31;
  border-radius: 8%;
}


* {
  border: 1px solid black;
}

h1 {
  font-size: 3rem;
}

p {
  font-size: 1rem;
}