html {
  font-size: 16px;
}

.tips-aksi-container {
  
}

.tips-aksi-container .3R {
  
}

.tips-aksi-container .3R .3Rcards {
  
}

.tips-aksi-container .3R .3Rcard-icon {
  display: block;
  fill: #cae28e;
  
}

h1 {
  font-size: 3rem;
}

p {
  font-size: 1rem;
}