html {
  font-size: 16px;
}


.tips-aksi-container {
  margin-top: 4rem;
}

.tips-aksi-container {

}

.threeR {
  display: grid;
  justify-items: center;
}

.threeR-cards {
  display: block;
  width: 350px;
  height: 500px;
  border: 1px solid black;
  display: grid;
  justify-items: center;
  text-align: center;
}

.threeR-card-icon {
  width: 250px;
  height: 150px;
  fill: #199523;
  margin-bottom: ;
}

.threeR-cards h1 {
  
}



* {
  border: 1px solid black;
}

h1 {
  font-size: 3rem;
}

p {
  font-size: 1rem;
}