@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import "tailwindcss";


@theme {
    --color-custom-white: #f8f9fa;
    --font-poppins: 'Poppins', sans-serif;
    --font-sans: 'Poppins', sans-serif;
}